.resource-picker
{
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	height: 500px;
}

.resource-picker button
{
	display: inline-block;
}

.info-button
{
	margin: 40px;
	border: none;
	display: inline-block;
	background-color: rgba(63, 80, 191, 0);
	font-weight: bold;
	color: #42454b;
}

.info-area
{
	margin: 50px;
}

.info-button
{
	margin: 50px;
	border: none;
	display: inline-block;
	background-color: rgba(63, 80, 191, 0);
	font-weight: bold;
	color: #42454b;
}

.info-button:hover
{
	cursor: pointer;
}

.info-button:hover img
{
	transform-origin: top;
  animation: scale 300ms ease-in-out forwards;
}

@keyframes scale
{
  to
	{
    transform: scale(1.2);
  }
}

.content-divider
{
	display: block;
	position: relative;
	margin-top: 75px;
	margin-bottom: 100px;
	width: 100%;
	padding-top: 50px;
}

.content-divider:before, .content-divider:after
{
    content: "";
    height: 3px;
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(56, 58, 61, 1) 50%,rgba(0,0,0,0) 100%);
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-img img
{
	height: 200px;
}
